@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #03020e;
  --foreground: #fefeff;
  --accent: #27a8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-zona-pro: var(--font-zona-pro);

  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-zona-pro), Helvetica, sans-serif;
}

@layer utilities {
  @keyframes wave {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 28px;
    }
  }

  .animate-wave {
    animation: wave 1s linear infinite;
  }
}

@keyframes scrollLoop {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    top: 90%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}

.animate-scrollLoop {
  animation: scrollLoop 2s infinite ease-in-out;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
